

table.form-table label.error{
    color: #ff0000;
}



input[type="text"].user_cat{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}




/**
 * Show featured image in custom post type list
 */
.wp-list-table .type-user_art .featured_image img,
.wp-list-table .type-user_profile_gallery .featured_image img,
.wp-list-table .type-contest_submission .featured_image img{
    width: 60px;
    height: 60px;
}




/*
*Contest Taxonomy Extra Fields
*/
.contest-extra-fields.form-field .contest-img img{
    max-width: 200px;
    display: block !important;
}

/*
*Contest Taxonomy Columns Fields
*/

span.contest-column-active{
    color: #009933;
    font-weight:700;
}
span.contest-column-inactive{
    color: #ff0000;
    font-weight:700;
}





/*
*User Payment Edit Post
*/
table.table-page-user-payment tr th{
    text-align: left;
    padding: 10px;
    border: 1px solid #ccc;
}

table.table-page-user-payment td {
    padding: 10px;
    border: 1px solid #ccc;
}



/*Submission Art*/
table.table-page-submission{
    width:100%;
}
table.table-page-submission .full-width-text{
    width:100%;
}




/*User Column Added fields*/

table.users td.column-is_featured .user-is-featured{
    color: #ff0000;
    font-weight:700;
}
table.users td.column-is_featured .user-is-featured.user-featured{
    color: #009933;
    font-weight:700;
}


.contest-extra-fields.form-field .headshot-img img{
    max-width: 200px;
    display: block !important;
}








/*Contest Images Plugin Download*/

.contest_images_download_form{
    margin-top: 100px;
}

.download-all{ margin: 50px 0}
.download-all a{ padding: 12px 40px; background-color: #006dcc; color: white;
    text-decoration: none;}

.admin-contest-img-wrapper{
    display: flex;
    flex-flow: row wrap;
}
.admin-contest-img-wrapper .single-img{
        padding: 10px ;
}