

.archive-contest-wrapper{
  margin-top: 70px;
  .archive-contest{
    width: 100%;
    background: transparent no-repeat center center /cover;
    padding: 100px 20px;
    @media screen and (max-width: 1024px) {
      padding: 70px 20px;
    }
    @media screen and (max-width: 640px) {
      padding: 50px 20px;
    }
    margin-bottom: 25px;
    position: relative;
    cursor: pointer;
    .archive-gradient{
      .trans(0.3s);
      position: absolute;
      background-color: rgba(9, 17, 21, 0.7);
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
    h1{
      position: relative;
      color: @white;
      margin-bottom: 0px;
    }
    &:hover{
      .archive-gradient{
        background-color: rgba(9, 17, 21, 0.6);
      }
    }

  }
}
