.shadow-box(@shadow-pix, @color){
  -moz-box-shadow: 1px 1px @shadow-pix @color;
  -webkit-box-shadow: 1px 1px @shadow-pix @color;
  box-shadow: 1px 1px @shadow-pix @color;
}

.art-listing-wrapper{
  //width: 100%;
  margin-left: -15px;
  margin-right: -15px;
  .flex-container(row,wrap);
  .art-single-container{
    width: 33.333%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 25px;

    @media screen and (max-width: 1024px) {
      width: 50%;
    }

    .art-single{

      //.shadow-box(10px ,@coolGrey);
      border: 1px solid @lightGrey;
      padding: 20px;
      text-align: center;
      .art-img{
        cursor: pointer;
        border: 1px solid @coolGrey;
        max-width: 150px;
        margin: 0 auto 15px;
        padding: 3px;
        img{
          display: block;
          max-width: 100%;
        }
      }
      p{
        font-size: 16px;
        line-height: 24px;
      }
      .art-actions{
        margin-top: 20px;
      }
      .submit-to-contest-btn{
        margin-top: 15px;
      }
    }
  }

  @media screen and (max-width: 650px) {
    margin: 0;
    .art-single-container{
      width: 100%;
      padding: 0px;
    }
  }

}




