
//Single Post Page
.single-post-page{
    &.general-page{
        & .entry-content {
            width: 100%;
            max-width: 1560px;
            margin: 0 auto;

            p{
                a{
                    color: @blue;
                    text-decoration: underline;
                    font-weight:600;
                }
            }
        }
    }
}


.single-article,
.single-medicle-tip{


}


.blog-archive,
.blog-single{

    &.general-page{
        & .entry-content {
            width: 100%;
            max-width: 1460px;
            margin: 0 auto;
        }
    }


    a{
        color: @blue;
    }
    .single-post{
        .title{
            margin-bottom: 3px;
        }

        h5, h5 a{
            font-size: 15px;
            line-height: 17px;
            color: @blue;
            margin-bottom: 5px;
        }

        .read-more{
            color: @blue;
            font-weight: 500;
        }
        .date-author{
            margin-bottom: 25px;
            .date{
                font-weight: 500;
                color: @textGrey;
                font-size: 15px;
                letter-spacing: 0.075em;
            }
            .sep{
                font-weight: 500;
                color: @textGrey;
                font-size: 15px;
                letter-spacing: 0.075em;
            }
            .author{
                font-weight: 900;
                color: @blue1;
                font-size: 15px;
                letter-spacing: 0.075em;
            }
        }
        .entry-summary{

            .gp-blog-common-col{
                margin-bottom: 40px;
                padding-bottom: 40px;
                border-bottom: 1px solid @textGrey;
                p{
                    margin-bottom: 15px;
                }
            }
            .gp-blog-two-col{
                .flex-container(row, nowrap);

                .left{
                    width: 40%;
                    .bg-image{
                        background: no-repeat center center /cover;
                        min-height: 280px;
                    }
                }
                .right{
                    width: 60%;
                    padding-left:2vw;
                }
                @media screen and (max-width: 1200px){

                }
                @media screen and (max-width: 1024px){

                }
                @media screen and (max-width: 840px){
                    .flex-container(row, wrap);
                    .left{
                        width: 100%;
                        margin-bottom: 25px;
                        .bg-image{
                                    min-height: 300px;
                                }
                    }
                    .right{
                        width: 100%;
                    }
                }

            }
            .gp-blog-one-col{
                .content{

                }
            }
        }
    }
}


.navigation.pagination{

    margin-bottom: 45px;
    h2.screen-reader-text{
        display: none;
    }
    .nav-links{
        .flex-container(row, wrap);
        .justify-content(flex-end);
        .page-numbers{
            display: block;
            color: @medGrey;
            font-size: 16px;
            margin-right: 2px;
            margin-left: 2px;
            margin-bottom: 5px;
            font-weight: 700;
            .trans(all 0.3s);
            padding: 6px 9px;
            @media screen and (max-width: 700px) {
                font-size: 13px;
            }
            .screen-reader-text{
                //display: none;
            }

            &:hover{
               background: @linkBlue;
               border-radius: 4px;
               //color: @white1;
            }
            &.current{
                background: @blue;
                color: @offWhite;
                border-radius: 4px;

                &:hover{
                    background: @linkBlue;
                    //color: @white1;
                }
            }
            svg{
                display: none;
            }
        }
        .next,
        .prev{
            display: block;
            .screen-reader-text{
                display: inline-block;
                overflow: visible;
                width: auto;
                &:hover{
                    //color: @white1;
                }
            }
        }
    }
}



.social-share{
    margin-top: 45px;
    .flex-container(row, wrap);
    margin-bottom: 10px;
    @media screen and (max-width: 525px) {
        .justify-content(center);
    }
    .text{
        font-weight: 900;
        color: @footerGrey;
        margin-top: 5px;
        margin-right: 15px;
        @media screen and (max-width: 525px){
            width: 100%;
            text-align: center;
            margin-bottom: 15px;
        }
    }
    .share{
        margin-right: 10px;
        a{
            img{
                height: 30px;
                width: 30px;
            }
        }
    }
}



.navigation.post-navigation{
    margin-top: 25px;
    margin-bottom: 45px;
    .screen-reader-text{
        display: none;
    }
    .nav-links{
        .nav-next,
        .nav-previous{
            display: block;
            margin-bottom: 15px;

            .nav-title{
                font-weight: 500;
                color: @textGrey;
                .trans(all 0.3s);
                &:hover{
                    color: @blue;
                }
                .nav-title-icon-wrapper{
                    svg{
                        display: none;
                    }
                }
            }
        }
    }
}






