.main-container#contest-page {
    position: relative;
    & .hero-section {
        overflow: hidden;
        &.final-mode-hero {
            min-height: 950px;
            & .hero-bg {
                opacity: 1;
            }
        }
        & .text-wrapper {
            position: relative;
            z-index: 10;
            color: @white;
            height: 100%;
            width: 100%;
            text-align: center;
            padding: 0 50px;
            .flex-container(column, nowrap);
            .justify-content(center);
            & .regular-text {
                & h1 {
                    font-size: 35px;
                    line-height: 35px;
                    font-weight: 300;
                    margin-bottom: 30px;
                }
                & h2 {
                    font-size: 16px;
                    opacity: 0.6;
                    margin-bottom: 5px;
                }
                & h3 {
                    font-size: 35px;
                    letter-spacing: 0.46em;
                    margin-bottom: 40px;
                }
                & .button-wrapper {
                    & .button {
                        & + .button {
                            margin-left: 10px;
                        }
                    }
                }
            }
            & .final-text {
                background-color: @white;
                color: @textGrey;
                padding: 140px 50px;
                border-radius: 50%;
                & h1 {
                    font-size: 45px;
                    line-height: 45px;
                    margin-bottom: 10px;
                }
                & h2 {
                    color: @medGrey;
                    font-size: 13px;
                    font-weight: 400;
                    margin-bottom: 10px;
                }
                & h3 {
                    font-size: 25px;
                    margin-bottom: 30px;
                }
                & i {
                    font-size: 22px;
                    color: @green;
                }
            }
        }
        & .down-arrow {
            cursor: pointer;
            &:hover,
            &:focus {
                & i {
                    .transform(translateY(-5px));
                    .trans(all, 0.3s);
                }
            }
            & i {
                .transform(translateY(0));
                .trans(all, 0.3s);
            }
        }
        & .bottom-arrow {
            position: absolute;
            background-color: @white;
            bottom: -20px;
            left: ~"calc(50% - 35px)";
            font-size: 22px;
            width: 70px;
            padding: 15px 10px 25px;
            text-align: center;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            border-bottom-right-radius: 30%;
            border-bottom-left-radius: 30%;
            z-index: 20;
            & i {
                color: @greenBlack;
            }
        }
    }
    & .contest-details-section {
        & .flex-wrapper {
            & .image-wrapper {
                width: 470px;
                max-width: 50%;
                & img {
                    width: 100%;
                    height: auto;
                }
            }
            & .text-wrapper {
                padding-left: 140px;
            }
        }
    }
    & .top-100-section {
        text-align: center;
        & .loading-more {
            margin-top: 20px;
            text-align: center;
            width: 100%;
            opacity: 0.5;
            animation-fill-mode: forwards;
            animation: pulse 3s linear infinite;
            &.hide {
                & span {
                    display: none;
                }
            }
        }
    }
    & .runner-ups-section,
    & .top-social-section {
        text-align: center;
        & .inner-container {
            padding-top: 40px;
        }
    }
    & .winners-section {
        margin-top: -100px;
        position: relative;
        z-index: 15;
        & .inner-container {
            padding-top: 0;
        }
        & .flex-wrapper {
            margin: 0 auto;
            max-width: 100%;
            .justify-content(center);
            .align-items(center);
            & + .flex-wrapper {
                margin-top: 80px;
            }
            &.first-prize {
                width: 1120px;
                & .image-wrapper {
                    width: 740px;
                    max-width: 100%;
                }
                & .text-wrapper {
                    padding-top: 40px;
                    width: ~"calc(100% - 740px)";
                }
            }
            &.second-prize,
            &.third-prize {
                width: 970px;
                & .image-wrapper {
                    width: 374px;
                    max-width: 100%;
                }
                & .text-wrapper {
                    width: ~"calc(100% - 374px)";
                    & img {
                        margin: 0 30px;
                    }
                }
            }
            &.second-prize {
                & .text-wrapper {
                    padding: 0 30px 0 90px;
                }
            }
            &.third-prize {
                & .text-wrapper {
                    padding: 0 90px 0 30px;
                }
            }
            & .image-wrapper {
                margin: 0 auto;
                position: relative;
                cursor: pointer;
                &:hover,
                &:focus {
                    & .open-lightbox ,
                    & .open-lightbox-nopopup{
                        opacity: 1;
                        .trans(all, ease, @t);
                    }
                }
                & .open-lightbox ,
                & .open-lightbox-nopopup{
                    position: absolute;
                    top: 6px;
                    left: 6px;
                    width: ~"calc(100% - 12px)";
                    height: ~"calc(100% - 12px)";
                    background-color: rgba(0,0,0,0.5);
                    color: @white;
                    text-align: center;
                    padding: 20px;
                    opacity: 0;
                    .flex-container(column, nowrap);
                    .justify-content(center);
                    .trans(all, ease, @t);
                    & i {
                        font-size: 30px;
                    }
                    & span {
                        margin-top: 20px;
                        font-weight: 500;
                        font-size: 16px;
                        display: block;
                    }
                }
                & img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
            & .text-wrapper {
                padding-left: 90px;
                text-align: center;
                width: 240px;
                & img {
                    width: 130px;
                    height: auto;
                    margin: 0 auto 30px;
                }
                & p {
                    &.artist {
                        font-size: 22px;
                        line-height: 30px;
                        font-weight: 400;
                    }
                    &.art-title {
                        margin-top: 0;
                        font-size: 19px;
                    }
                    &.prize {
                        font-weight: 700;
                    }
                }
            }
        }
    }
    & .jury-section {
        background-color: @offWhite;
        position: relative;
        & .left-bg {
            position: absolute;
            max-height: 100%;
            max-width: 20%;
            left: 0;
            top: -37%;
        }
        & .right-bg {
            position: absolute;
            max-width: 30%;
            right: 0;
            bottom: -13%;
        }
        & .text-wrapper {
            width: 500px;
            max-width: 50%;
            padding: 0 50px;
        }
        & .jury-slider-wrapper {
            .flex-container();
            .justify-content(center);
            .align-items(center);
            width: 480px;
            position: relative;
            & .control {
                position: absolute;
                top: 150px;
                font-size: 36px;
                color: @lightGrey;
                text-shadow: 0 -2px #a4adbf;
                cursor: pointer;
                .trans(all, @t);
                &.left {
                    left: 0;
                    padding-right: 40px;
                    text-align: right;
                }
                &.right {
                    right: 0;
                    padding-left: 30px;
                }
                &:hover,
                &:focus {
                    text-shadow: 0 -2px @green;
                    color: @green;
                    .trans(all, @t);
                }
            }
            & .juror-wrapper {
                width: 330px;
                height: 500px;
                max-width: 90%;
                margin: 0 auto;
                position: relative;
                overflow: hidden;
                & .juror-inner-wrapper {
                    position: absolute;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    .flex-container();
                    .justify-content(flex-start);
                    .trans(left, ease-in-out, 0.3s);
                    & .juror-unit {
                        display: inline-block;
                        width: 360px;
                        & + .juror-unit {
                            margin-left: 50px;
                        }
                        & .juror-image-wrapper {
                            width: 300px;
                            height: 300px;
                            position: relative;
                            &::before {
                                content: "";
                                border-radius: 50%;
                                width: inherit;
                                height: inherit;
                                background-color: @green;
                                position: absolute;
                                bottom: -30px;
                                left: 0;
                                z-index: 4;
                            }
                            & .juror-image {
                                width: 100%;
                                height: 100%;
                                margin-left: 30px;
                                background: @white no-repeat center center /cover;
                                position: relative;
                                border-radius: 50%;
                                z-index: 5;
                                box-shadow: 0 7px 10px 0 rgba(0,0,0,0.28);
                            }
                        }
                        & .juror-details {
                            margin-top: 70px;
                            min-height: 80px;
                            text-align: center;
                            padding-left: 60px;
                            & p {
                                font-weight: 400;
                                font-size: 22px;
                            }
                            & a {
                                display: block;
                                font-size: 16px;
                                margin-top: 5px;
                                width: 100%;
                                word-break: break-all;
                            }
                        }
                    }
                }
            }
        }
    }
    & .prize-section {
        & .inner-container {
            padding: 210px 30px;
            width: 855px;
            & .prize-header {
                text-align: center;
                margin-bottom: 50px;
            }
            & .prize-wrapper {
                .justify-content(space-between);
                .align-items(flex-start);
                & .prize-unit {
                    width: 230px;
                    max-width: 33%;
                    padding: 0 10px;
                    & img {
                        max-width: 100%;
                        width: 150px;
                        height: auto;
                        margin: 25px auto;
                        display: block;
                    }
                    & p {
                        font-size: 18px;
                        font-weight: 400;
                        text-align: center;
                        line-height: 22px;
                        & > span {
                            font-weight: 700;
                        }
                    }
                }
            }
            & .prize-detail {
                margin-top: 50px;
                & img {
                    width: 32px;
                    height: auto;
                }
                & p {
                    display: inline-block;
                    color: @medGrey;
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 400;
                    margin-left: 20px;
                }
            }
        }
    }
    & .sponsor-section {
        position: relative;
        & .left-bg {
            position: absolute;
            top: -30%;
            left: 0;
            max-width: 20%;
        }
        & .inner-container {
            width: 1170px;
            padding: 80px 30px 150px;
            & .image-wrapper {
                width: 400px;
                max-width: 50%;
                & img {
                    width: 100%;
                    height: auto;
                }
            }
            & .text-wrapper {
                width: 450px;
                padding-left: 100px;
                max-width: 50%;
            }
        }
    }
    & .enter-now-section {
        background-color: @blue;
        & .flex-wrapper {
            padding: 215px 0;
            position: relative;
            .justify-content(center);
            z-index: 1;
            & .image-third {
                position: absolute;
                top: 0;
                .flex-container();
                & .image-wrapper {
                    max-width: 100%;
                    & .inner-image {
                        width: 100%;
                        height: 100%;
                        background: transparent no-repeat center center /cover;
                    }
                }
                &.image-left {
                    top: 40px;
                    left: -180px;
                    width: ~"calc(50% - 250px)";
                    .align-items(flex-start);
                    & .image-wrapper {
                        width: 780px;
                        height: 580px;
                        .transform(rotate(16deg));
                    }
                }
                &.image-right {
                    top: 10px;
                    right: -30px;
                    width: ~"calc(50% - 250px)";
                    .justify-content(flex-end);
                    & .image-wrapper {
                        width: 550px;
                        height: 400px;
                        .transform(rotate(-6deg));
                    }
                }
            }
            & .mid-text-wrapper {
                width: 500px;
                color: @white;
                text-align: center;
                & h1 {
                    margin-bottom: 15px;
                }
                & .button {
                    margin-top: 20px;
                }
            }
        }
    }
    & .submission-thanks-section {
        & .flex-wrapper {
            padding-top: 50px;
            & .image-wrapper {
                width: 710px;
                max-width: 55%;
                & img {
                    width: 100%;
                    height: auto;
                }
            }
            & .text-wrapper {
                max-width: 45%;
                width: ~"calc(100% - 710px)";
                padding-left: 70px;
            }
        }
    }
}

@keyframes pulse {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.5;
    }
}
@media screen and (max-width: 1370px) {
    .main-container#contest-page {
        & .contest-details-section {
            & .flex-wrapper {
                & .image-wrapper {
                    width: 380px;
                }
                & .text-wrapper {
                    padding-left: 90px;
                }
            }
        }
        & .jury-section {
            & .text-wrapper {
                padding-right: 80px;
            }
        }
        & .prize-section {
            & .inner-container {
                & .price-header {
                    margin-bottom: 30px;
                }
                & .prize-wrapper {
                    & .prize-unit {
                        & p {
                            font-size: 15px;
                            line-height: 22px;
                        }
                        & img {
                            width: 120px;
                        }
                    }
                }
                & .prize-detail {
                    & img {
                        width: 28px;
                    }
                    & p {
                        font-size: 15px;
                        line-height: 22px;
                    }
                }
            }
        }
        & .sponsor-section {
            & .inner-container {
                & .text-wrapper {
                    padding-left: 50px;
                }
            }
        }
        & .enter-now-section {
            & .flex-wrapper {
                & .image-third {
                    &.image-left {
                        left: -100px;
                    }
                }
            }
        }
        & .submission-thanks-section {
            & .flex-wrapper {
                & .image-wrapper {
                    width: 480px;
                }
                & .text-wrapper {
                    width: ~"calc(100% - 480px)";
                }
            }
        }
        & .winners-section {
            & .flex-wrapper {
                &.first-prize {
                    width: 850px;
                    & .image-wrapper {
                        width: 500px;
                    }
                    & .text-wrapper {
                        width: ~"calc(100% - 500px)";
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1000px) {
    .main-container#contest-page {
        & .hero-section {
            & .text-wrapper {
                & .final-text {
                    background-color: @white;
                    color: @textGrey;
                    padding: 140px 50px;
                    border-radius: 50%;
                    & h1 {
                        font-size: 35px;
                        line-height: 35px;
                    }
                    & h2 {
                        font-size: 13px;
                    }
                    & h3 {
                        font-size: 20px;
                        margin-bottom: 25px;
                    }
                }
            }
        }
        & .contest-details-section {
            & .flex-wrapper {
                & .image-wrapper {
                    width: 350px;
                }
                & .text-wrapper {
                    padding-left: 50px;
                }
            }
        }
        & .winners-section {
            & .flex-wrapper {
                &.first-prize {
                    width: 800px;
                    & .image-wrapper {
                        width: 450px;
                    }
                    & .text-wrapper {
                        width: ~"calc(100% - 450px)";
                        padding-left: 30px;
                        & img {
                            margin-bottom: 20px;
                        }
                    }
                }
                &.second-prize,
                &.third-prize {
                    width: 800px;
                    & .image-wrapper {
                        width: 280px;
                    }
                    & .text-wrapper {
                        width: ~"calc(100% - 374px)";
                    }
                    & .text-wrapper {
                        padding: 0 30px;
                        & .prize-unit {
                            .flex-container(row, wrap);
                            & img {
                                margin-bottom: 20px;
                                width: 100px;
                            }
                            & > div {
                                max-width: 300px;
                                width: 100%;
                            }
                        }
                    }
                }
                & .text-wrapper {
                    & p {
                        &.artist {
                            font-size: 18px;
                            line-height: 26px;
                        }
                        &.art-title {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        & .jury-section {
            & .text-wrapper {
                padding-right: 20px;
            }
            & .jury-slider-wrapper {
                width: 380px;
                & .control {
                    font-size: 28px;
                    top: 120px;
                    &.left {
                        padding-right: 30px;
                    }
                    &.right {
                        padding-left: 20px;
                    }
                }
                & .juror-wrapper {
                    width: 270px;
                    height: 430px;
                    & .juror-inner-wrapper {
                        & .juror-unit {
                            width: 310px;
                            & .juror-image-wrapper {
                                width: 250px;
                                height: 250px;
                                &::before {
                                    bottom: -20px;
                                }
                                & .juror-image {
                                    margin-left: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
        & .enter-now-section {
            & .flex-wrapper {
                padding: 150px 0;
            }
        }
        & .submission-thanks-section {
            & .flex-wrapper {
                & .image-wrapper {
                    width: 400px;
                }
                & .text-wrapper {
                    padding-left: 40px;
                    width: ~"calc(100% - 400px)";
                }
            }
        }
    }
}
@media screen and (max-width: 760px) {
    .main-container#contest-page {
        & .hero-section {
            min-height: 450px;
            &.final-mode-hero {
                min-height: 700px;
            }
            & .text-wrapper {
                padding: 0 30px;
                & .regular-text {
                    & h1 {
                        font-size: 25px;
                        line-height: 25px;
                        margin-bottom: 25px;
                    }
                    & h2 {
                        font-size: 14px;
                    }
                    & h3 {
                        font-size: 25px;
                        margin-bottom: 30px;
                        letter-spacing: 0.3em;
                    }
                }
                & .final-text {
                    padding: 100px 50px;
                    & h1 {
                        font-size: 25px;
                        line-height: 25px;
                    }
                    & h2 {
                        font-size: 13px;
                    }
                    & h3 {
                        font-size: 16px;
                    }
                }
            }
        }
        & .contest-details-section {
            & .flex-wrapper {
                .flex-container(row, wrap);
                & .image-wrapper {
                    margin: 0 auto;
                    max-width: 100%;
                }
                & .text-wrapper {
                    width: 100%;
                    padding: 30px 0 0;
                    max-width: 400px;
                    text-align: center;
                    margin: 0 auto;
                }
            }
        }
        & .winners-section {
            & .flex-wrapper {
                &.first-prize {
                    .flex-container(row, wrap);
                    & .image-wrapper {
                        width: 600px;
                    }
                    & .text-wrapper {
                        width: 100%;
                        padding: 30px 0 0;
                    }
                }
                &.second-prize,
                &.third-prize {
                    .flex-container(row, wrap);
                    & .image-wrapper {
                        width: 400px;
                    }
                    & .text-wrapper {
                        width: 100%;
                        padding: 30px 0 0;
                    }
                    & .text-wrapper {
                        & .prize-unit {
                            .flex-container(row, wrap);
                            & > div {
                                max-width: 100%;
                            }
                        }
                    }
                }
                &.third-prize {
                    .flex-container(column-reverse, nowrap);
                }
            }
        }
        & .jury-section {
            & .left-bg,
            & .right-bg {
                display: none;
            }
            & .flex-wrapper {
                .flex-container(row, wrap);
            }
            & .text-wrapper {
                width: 100%;
                max-width: 400px;
                margin: 0 auto;
                padding: 0 0 50px 0;
                text-align: center;
            }
            & .jury-slider-wrapper {
                margin: 0 auto;
                width: 330px;
                & .control {
                    font-size: 28px;
                    top: 100px;
                    &.left {
                        padding-right: 30px;
                    }
                    &.right {
                        padding-left: 20px;
                    }
                }
                & .juror-wrapper {
                    width: 210px;
                    height: 350px;
                    padding-left: 0;
                    & .juror-inner-wrapper {
                        & .juror-unit {
                            width: 200px;
                            & .juror-image-wrapper {
                                width: 200px;
                                height: 200px;
                                &::before {
                                    bottom: -20px;
                                }
                                & .juror-image {
                                    margin-left: 10px;
                                }
                            }
                            & .juror-details {
                                padding: 0;
                                & p {
                                    font-size: 18px;
                                    line-height: 20px;
                                }
                                & a {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
        & .prize-section {
            & .inner-container {
                padding: 100px 30px;
                & .prize-header {
                    max-width: 400px;
                    text-align: center;
                    margin: 0 auto 30px;
                }
                & .prize-wrapper {
                    .flex-container(row, wrap);
                    & .prize-unit {
                        width: 100%;
                        max-width: 100%;
                        & + .prize-unit {
                            margin-top: 40px;
                        }
                        & img {
                            width: 100px;
                        }
                        & p {
                            max-width: 150px;
                            margin: 0 auto;
                        }
                    }
                }
                & .prize-detail {
                    max-width: 400px;
                    text-align: center;
                    margin: 50px auto 0;
                    .flex-container(row, wrap);
                    & img {
                        display: block;
                        margin: 0 auto;
                    }
                    & p {
                        display: block;
                        width: 100%;
                        margin: 10px auto 0;
                    }
                }
            }
        }
        & .sponsor-section {
            & .left-bg {
                display: none;
            }
            & .inner-container {
                padding: 40px 30px 80px;
                .flex-container(row, wrap);
                & .text-wrapper {
                    width: 100%;
                    padding: 40px 0 0;
                    max-width: 400px;
                    text-align: center;
                    margin: 0 auto;
                }
            }
        }
        & .enter-now-section {
            & .flex-wrapper {
                padding: 80px 30px;
                & .image-third {
                    display: none;
                }
            }
        }
        & .submission-thanks-section {
            & .flex-wrapper {
                .flex-container(row, wrap);
                & .image-wrapper {
                    margin: 0 auto;
                    max-width: 100%;
                }
                & .text-wrapper {
                    padding: 40px 0 0;
                    width: 100%;
                    max-width: 400px;
                    text-align: center;
                    margin: 0 auto;
                }
            }
        }
    }
}
@media screen and (max-width: 650px) {
    .main-container#contest-page {
        & .hero-section {
            &.final-mode-hero {
                min-height: 500px;
            }
            & .text-wrapper {
                & .regular-text {
                    & h1 {
                        font-size: 20px;
                        line-height: 20px;
                    }
                    & h2 {
                        font-size: 12px;
                    }
                    & h3 {
                        font-size: 20px;
                        margin-bottom: 25px;
                    }
                }
                & .final-text {
                    padding: 80px 30px;
                    & h1 {
                        font-size: 20px;
                        line-height: 20px;
                    }
                    & h3 {
                        font-size: 14px;
                    }
                }
            }
        }
        & .prize-section {
            & .inner-container {
                padding-bottom: 50px;
            }
        }
        & .sponsor-section {
            & .inner-container {
                & .image-wrapper {
                    max-width: 100%;
                }
            }
        }
    }
}
@media screen and (max-width: 480px) {
    .main-container#contest-page {
        & .winners-section {
            margin-top: -70px;
        }
        & .jury-section {
            & .jury-slider-wrapper {
                width: 270px;
                & .control {
                    top: 80px;
                    font-size: 20px;
                }
                & .juror-wrapper {
                    width: 160px;
                    height: 260px;
                    & .juror-inner-wrapper {
                        & .juror-unit {

                            & .juror-image-wrapper {
                                width: 150px;
                                height: 150px;
                                &::before {
                                    bottom: -10px;
                                }
                            }
                            & .juror-details {
                                margin-top: 40px;
                                & p {
                                    font-size: 18px;
                                }
                                & a {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}