
footer.imone-footer {
    background-color: @offWhite;
    position: relative;
    z-index: 2;
    & .inner-container {
        padding: 120px 30px 60px;
    }
    & .footer-nav {
        .flex-container();
        .justify-content(space-between);
        & .col {
            padding: 0 10px;
        }
        & h5 {
            font-size: 16px;
            color: @textGrey;
            margin-bottom: 40px;
        }
        & ul {
            margin: 0;
            font-weight: 300;
            &#menu-footer-social-menu {
                & li {
                    display: inline-block;

                    & + li {
                        margin-left: 20px;
                    }
                    & a {
                        font-size: 30px;
                        line-height: 0;
                        &[title="facebook"],
                        &[title="FaceBook"],
                        &[title="Facebook"] {
                            &::after {
                                content: "\f082";
                                .fabrand;
                            }
                        }
                        &[title="twitter"],
                        &[title="Twitter"] {
                            &::after {
                                content: "\f081";
                                .fabrand;
                            }
                        }
                        &[title="instagram"],
                        &[title="Instagram"] {
                            &::after {
                                content: "\f16d";
                                .fabrand;
                            }
                        }
                        &[title="linkedin"],
                        &[title="Linkedin"],
                        &[title="LinkedIn"] {
                            &::after {
                                content: "\f08c";
                                .fabrand;
                            }
                        }
                        &[title="youtube"],
                        &[title="YouTube"],
                        &[title="Youtube"] {
                            &::after {
                                content: "\f167";
                                .fabrand;
                            }
                        }
                        & span {
                            display: none;
                        }
                    }
                }
            }
            & li {
                list-style: none;
                margin: 0;
                font-size: 16px;
                line-height: 24px;
                & + li {
                    margin-top: 10px;
                }
                & a {
                    color: @textGrey;
                    &:hover,
                    &:focus {
                        color: @blue;
                    }
                }
            }
        }
    }
    & .footer-details {
        margin-top: 80px;
        .flex-container();
        .justify-content(space-between);
        & span {
            color: @footerGrey;
            font-size: 12px;
        }
        & a {
            color: @footerGrey;
            &:hover,
            &:focus {
                color: @blue;
            }
        }
        & .copyright {
            & span {
                & + span {
                    &::before {
                        content: "";
                        display: inline-block;
                        border-radius: 50%;
                        width: 4px;
                        height: 4px;
                        margin: 0 12px 0 10px;
                        vertical-align: 2px;
                        background-color: @footerGrey;
                    }
                }
            }
        }
        & .gp-credit {
            & img {
                width: 11px;
                height: auto;
                margin-right: 3px;
                vertical-align: -2px;
            }
        }
    }
}

@media screen and (max-width: 1370px) {
    footer.imone-footer {
        & .inner-container {
            width: 880px;
            padding: 80px 30px 40px;
        }
        & .footer-nav {
            & h5 {
                font-size: 12px;
                margin-bottom: 20px;
            }
            & ul {
                &#menu-footer-social-menu {
                    & li {
                        & a {
                            font-size: 22px;
                        }
                    }
                }
                & li {
                    font-size: 12px;
                    line-height: 18px;
                    & + li {
                        margin-top: 7px;
                    }
                }
            }
        }
        & .footer-details {
            & span {
                font-size: 10px;
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    footer.imone-footer {
        & .inner-container {
            width: 810px;
        }
    }
}
@media screen and (max-width: 1000px) {
    footer.imone-footer {
        & .inner-container {
            padding-top: 70px;
        }
        & .footer-nav {
            .flex-container(row, wrap);
            .justify-content(flex-start);
            & .col {
                width: 25%;
            }
            & ul {
                &#menu-footer-social-menu {
                    margin-top: 40px;
                }
            }
        }
        & .footer-details {
            margin-top: 40px;
        }
    }
}
@media screen and (max-width: 760px) {
    footer.imone-footer {
        & .footer-details {
            .flex-container(row, wrap);
            & .copyright {
                margin: 0 auto;
            }
            & .gp-credit {
                width: 100%;
                text-align: center;
                margin-top: 10px;
            }
        }
    }
}
@media screen and (max-width: 650px) {
    footer.imone-footer {
        & .inner-container {
            padding: 30px;
        }
        & .footer-nav {
            & ul#menu-footer-social-menu {
                margin-top: 0;
            }
            & .col {
                &:not(.social-col) {
                    display: none;
                }
                &.social-col {
                    width: auto;
                    margin: 0 auto;
                }
            }
        }
        & .footer-details {
            margin-top: 20px;
            & .copyright {
                margin: 0 auto;
                text-align: center;
                & span {
                    display: block;
                    & + span {
                        margin-top: 12px;
                        &::before {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}