form,
.form {
    & input,
    & select,
    & textarea {
        padding: 17px 25px;
        border: 1px solid @lightGrey;
        font-size: 16px;
        font-weight: 300;
        color: @textGrey;
        .rubik;
        &:not([type="submit"]):not(.demi) {
            width: 100%;
        }
        &:focus {
            outline: none;
        }
        &:-moz-placeholder, /* For Mozilla Firefox 4 to 18 */
        &::-moz-placeholder, /* For Mozilla Firefox 19+ */
        &:-ms-input-placeholder, /* For Internet Explorer 10+ */
        &::-webkit-input-placeholder { /* For WebKit browsers */
            .rubik;
            font-size: 16px;
            font-weight: 300;
            color: @textGrey;
        }
    }
    & textarea {
        resize: vertical;
        min-height: 200px;
    }
    & .input-wrapper,
    & .select-wrapper,
    & .button-wrapper {
        & label {
            display: block;
            width: 100%;
            margin-bottom: 10px;
        }
        & + .input-wrapper,
        & + .select-wrapper,
        & + .button-wrapper {
            margin-top: 20px;
        }
    }
    & .button-wrapper {
        & .button {
            display: block;
            margin: 20px auto 0;
        }
    }

  & .select-wrapper{
      position: relative;
      select{
        -webkit-appearance: none;
        background-color: white;
        border-radius: 0;
        cursor: pointer;
      }
      &:after{
          content: "\f0d7" ;
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
        display: inline-block;
        position: absolute;
        z-index: 5;
        top: 48px;
        right: 15px;
      }
  }


    .input-wrapper-flex{
        .flex-container();
        .align-items(center);
        > label{
            width: auto;
            padding-right: 20px;
            margin-bottom: 0px;
            font-size: 14px;
            font-weight:300;
        }
        > input[type=text]{
            //width: 50% !important;
        }
    }

}

#seminar-login,
#create-account-form,
#add-user-art-form ,
#lostpasswordform,
#resetpasswordform,
#edit-user-art-form,
#add-prof-gallery-form,
#edit-prof-gallery-form,
.contact-form,
#edit-profile-form{
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    .input-image-wrapper{
        text-align: center;
        label{
            font-size: 20px;
        }
        img{
            border: 1px solid @coolGrey;
            padding: 3px;
            margin: 0 auto 25px;
            display: block;
            max-width: 100%;
        }
    }

    .radio-wrap{
        .flex-container();
        margin-bottom: 15px;
        .radio-field{
            padding-left: 10px;
            input[type="radio"],
            input[type="checkbox"]{
                width: auto;
            }
        }
        .label{
            padding-left: 10px;
        }
    }

    .radio-flex{
        .flex-container();
        padding: 20px 0;
        .radio-field{
            input[type="radio"],
            input[type="checkbox"]{
                width: auto;
            }
            span{
                padding-left: 10px;
            }
            &:last-child{
                padding-left: 20px;
            }
        }
    }

}


.paymentFrm{
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    .flex-wrapper-100{
        margin: 20px auto;
        .flex-container(row,wrap);
        .justify-content(space-between);
        .flex-wrapper-50{
            width: 48%;
            .flex-wrapper-inner{
                .flex-container();
                .justify-content(space-between);
            }
        }

      @media screen and (max-width: 400px) {
          margin-top: 0px;
          .flex-wrapper-50{
            margin-top: 20px;
              width: 100%;
          }
      }
    }

    @media screen and (max-width: 500px) {
        label{
            font-size: 14px;
        }
    }
}


#lostpasswordform, #resetpasswordform{
    fieldset{
        padding: 30px;
    }
    .button{
        margin-top: 20px;
    }
}


@media screen and (max-width: 1370px) {
    form,
    .form {
        input,
        select,
        textarea {
            font-size: 12px;
            padding: 15px 20px;
        }
        &:-moz-placeholder, /* For Mozilla Firefox 4 to 18 */
        &::-moz-placeholder, /* For Mozilla Firefox 19+ */
        &:-ms-input-placeholder, /* For Internet Explorer 10+ */
        &::-webkit-input-placeholder { /* For WebKit browsers */
            font-size: 12px;
        }
        a.button,
        button.button,
        .button {
            min-width: 140px;
            font-size: 12px;
        }

        & .select-wrapper{
            &:after{
                top: 44px;
            }
        }

    }
}