// Thumbnail galleries (e.g. on Contest page)
.thumb-gallery-wrapper {
    margin-top: 50px;
    .flex-container(row, wrap);
    .justify-content(center);
    & .thumb-wrapper {
        padding: 40px;
        width: 20%;
        max-width: 240px;
        & .thumb-image {
            width: 160px;
            height: 160px;
            margin: 0 auto;
            position: relative;
            display: block;
            cursor: pointer;
            background: @offWhite no-repeat center center /cover;
            overflow: hidden;
            border-radius: 0;
            .trans(all, ease, @t);
            &:hover,
            &:focus {
                border-radius: 50%;
                .trans(all, ease, @t);
                & .open-lightbox,
                & .open-lightbox-nopopup{
                    opacity: 1;
                    .trans(all, ease, @t);
                }
            }
            & .open-lightbox ,
            & .open-lightbox-nopopup{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: @green;
                color: @white;
                text-align: center;
                padding: 20px 5px;
                opacity: 0;
                .flex-container(column, nowrap);
                .justify-content(center);
                .trans(all, ease, @t);
                & i {
                    font-size: 30px;
                }
                & span {
                    margin-top: 20px;
                    font-weight: 500;
                    font-size: 16px;
                    display: block;
                }
            }
        }
        & .thumb-details {
            margin-top: 25px;
            text-align: center;
            & p {
                &.artist {
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;
                }
                &.art-title {
                    margin-top: 0;
                    font-size: 14px;
                }
            }
        }
    }
}
.gallery-lightbox {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5000;
    .flex-container();
    .justify-content(center);
    .align-items(center);
    opacity: 0;
    visibility: hidden;
    .trans(all, @t);
    & .gallery-overlay {
        position: absolute;
        background-color: rgba(0,0,0,0.5);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5002;
    }
    &.show {
        opacity: 1;
        visibility: visible;
        .trans(all, @t);
    }
    & .lightbox-inner {
        position: relative;
        max-width: 96vw;
        height: auto;
        padding: 10px;
        background-color: @white;
        max-height: 96vh;
        z-index: 5003;
        &:hover,
        &:focus {
            & .close-lightbox {
                opacity: 0.8;
                visibility: visible;
                .trans(all, @t);
            }
        }
        & .close-lightbox {
            background-color: rgba(0,0,0,0.3);
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 5005;
            width: 37px;
            height: 37px;
            padding: 10px;
            text-align: center;
            border-radius: 50%;
            cursor: pointer;
            opacity: 0;
            visibility: hidden;
            .trans(all, @t);
            & i {
                font-size: 18px;
                color: @white;
            }
        }
        & .image-wrapper {
            position: relative;
            z-index: 5004;
            overflow: auto;
            height: ~"calc(100% - 90px)";
            .flex-container();
            .align-items(center);
            .justify-content(center);
            & img {
                margin: 0 auto;
                display: block;
                width: auto;
                height: auto;
                max-height: ~"calc(96vh - 130px)";
                max-width: 100%;
            }
        }
        & .lightbox-details {
            min-height: 90px;
            padding: 10px 10px 0;
            .flex-container();
            .align-items(center);
            .justify-content(space-between);
            z-index: 5005;
            background-color: @white;
            & .image-details {
                & h4.artist {
                    font-weight: 400;
                    font-size: 20px;
                    margin-bottom: 5px;
                }
                & h5.art-title {
                    margin-bottom: 0;
                    font-size: 16px;
                    font-weight: 300;
                }
            }
            & .vote-wrapper {
                margin-left: 50px;
                width: 251px;
                & .button {
                    & i {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1370px) {
    .thumb-gallery-wrapper {
        & .thumb-wrapper {
            padding: 20px;
            width: 25%;
        }
    }
}
@media screen and (max-width: 900px) {
    .thumb-gallery-wrapper {
        & .thumb-wrapper {
            padding: 20px;
            width: 33%;
        }
    }
}
@media screen and (max-width: 650px) {
    .thumb-gallery-wrapper {
        & .thumb-wrapper {
            width: 50%;
        }
    }
    .gallery-lightbox {
        & .lightbox-inner {
            & .image-wrapper {
                height: ~"calc(100% - 160px)";
                & img {
                    max-height: ~"calc(96vh - 180px)";
                }
            }
            & .lightbox-details {
                .flex-container(column, nowrap);
                .justify-content(center);
                .align-items(center);
                min-height: 160px;
                text-align: center;
                & .image-details {
                    width: 100%;
                    & h4.artist {
                        font-size: 18px;
                    }
                    & h5.art-title {
                        font-size: 14px;
                    }
                }
                & .vote-wrapper {
                    margin: 20px auto 0;
                }
            }
        }
    }
}
@media screen and (max-width: 480px) {
    .thumb-gallery-wrapper {
        & .thumb-wrapper {
            width: 100%;
        }
    }
}