// ---------- START MAIN STYLES ---------- //

/* sticky footer */

.custom-site-outer {
    .flex-container(); /* for IE */
    .custom-site-wrapper {
        .flex-container(column, nowrap);
        .justify-content(space-between);
        min-height: 100vh;
        width: 100%;
        .custom-header {

        }
        .imone-container {
            .flex(1 0 auto);
            position: relative;
        }
        .custom-footer {

        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin-bottom: 20px;
}
h1 {
    font-size: 35px;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 26px;
}
h5, h6 {
    font-size: 22px;
}
ul, ol {
    margin: 0 0 0 40px;
    & + p,
    & + ul,
    & + ol {
        margin-top: 20px;
    }
    & li {
        font-size: 20px;
        line-height: 30px;
        font-weight: 300;
    }
}
blockquote {
    padding: 15px 30px;
    background-color: @offWhite;
}
p {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    & + p,
    & + ul,
    & + ol {
        margin-top: 20px;
    }
}
a {
    color: @linkBlue;
    text-decoration: none;
    .trans(all, @t);
    &:hover,
    &:focus {
        color: @coolGrey;
        .trans(all, @t);
    }
}
.gold-text {
    color: @gold;
}
.blue-text {
    color: @blue;
}
.green-text {
    color: @green;
}
a.button,
button.button,
.button,
.form input[type="submit"] {
    display: inline-block;
    background-color: rgba(0,0,0,0.5);
    padding: 15px 30px;
    color: @white;
    cursor: pointer;
    .trans(all, @t);
    font-weight: 500;
    border: 1px solid @white;
    min-width: 194px;
    text-align: center;
    font-size: 16px;
    .rubik;
    &:hover,
    &:focus {
        background-color: rgba(0,0,0,0.7);
        .trans(all, @t);
    }
    &.blue {
        border: none;
        background-color: @blue;
        &:hover,
        &:focus {
            background-color: darken(@blue, 12%);
        }
    }
    &.green {
        border: none;
        background-color: @green;
        &:hover,
        &:focus {
            background-color: darken(@green, 12%);
        }
    }
    &.gold {
        border: none;
        background-color: @gold;
        &:hover,
        &:focus {
            background-color: darken(@gold, 12%);
        }
    }

    &:disabled {
        background-color: @footerGrey;
        cursor: not-allowed;
    }
}
.flex-wrapper {
    .flex-container();
    .justify-content(center);
    .align-items(center);
    & > div {
        width: 50%;
    }
}

.main-container {
    &.dark-background {
        background-color: @offWhite;
        & .card-wrapper {
            background-color: @white;
        }
    }
}

.card-wrapper {
    background-color: @offWhite;
    padding: 50px;
    & + .card-wrapper {
        margin-top: 50px;
    }
}

.wookmark-container {
    position: relative;
    opacity: 0;
    .trans(all, 0.2s);
    &.wookmark-initialised {
        opacity: 1;
        .trans(all, 0.4s);
    }
}
// ---------- END MAIN STYLES ---------- //


@media screen and (max-width: 1370px) {
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 18px;
    }
    h5, h6 {
        font-size: 16px;
    }
    ul, ol {
        & + p,
        & + ul,
        & + ol {
            margin-top: 15px;
        }
        & li {
            font-size: 15px;
            line-height: 22px;
        }
    }
    p {
        font-size: 15px;
        line-height: 22px;
        & + p,
        & + ul,
        & + ol {
            margin-top: 15px;
        }
    }
}
@media screen and (max-width: 1000px) {
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }
    h5, h6 {
        font-size: 15px;
    }
    .card-wrapper {
        padding: 30px;
        & + .card-wrapper {
            margin-top: 30px;
        }
    }
}
@media screen and (max-width: 760px) {
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 15px;
    }
    ul, ol {
        & li {
            font-size: 13px;
            line-height: 20px;
        }
    }
    p {
        font-size: 13px;
        line-height: 20px;
    }
}
@media screen and (max-width: 480px) {
    a.button,
    button.button,
    .button {
        min-width: 120px;
        font-size: 11px;
        padding: 10px 15px;
    }
}