header.imone-header {
    padding: 22px 70px;
    background-color: @greenBlack;
    position: relative;
    z-index: 1000;
    @media screen and (max-width: 1370px) {
        padding: 22px 50px;
    }
    @media screen and (max-width: 1024px) {
        padding: 22px 25px;
    }
    @media screen and (max-width: 650px) {
        padding: 15px 20px;
    }
    &.home-header {
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        & .inner {
            & .header-nav {
                & nav {
                    & ul {
                        & > li.menu-item-has-children {
                            & ul.sub-menu {
                                background-color: rgba(9,17,21,0.6);
                            }
                        }
                    }
                }
            }
        }
    }
    & .inner {
        .flex-container();
        .justify-content(space-between);
        .align-items(center);
        & .logo {
            display: block;
            width: 149px;
            @media screen and (max-width: 1400px) {
                width: 130px;
            }
            @media screen and (max-width: 650px) {
                width: 95px;
            }
            & img {
                width: 100%;
                height: auto;
            }
        }
        & .header-nav {
            .flex(1 1 auto);
            color: @white;
            .flex-container();
            .justify-content(flex-end);
            & nav {
                padding: 0 70px 0 20px;
                @media screen and (max-width: 1450px) {
                    padding-right: 30px;
                }
                @media screen and (max-width: 1210px) {
                    display: none;
                }
                & ul {
                    .flex-container();
                    .justify-content(flex-end);
                    .align-items(center);
                    height: 100%;
                    margin: 0;
                    & li {
                        list-style: none;
                        cursor: pointer;
                        font-size: 16px;
                        line-height: 24px;
                        &:hover,
                        &:focus {
                            & > a {
                                color: @blue;
                            }
                        }
                    }
                    & > li {
                        display: inline-block;
                        margin: 0 17px;
                        &.menu-item-has-children {
                            position: relative;
                            &::after {
                                content: "\f107";
                                font-size: 12px;
                                margin-left: 5px;
                                .fafree;
                                .trans(all, @t);
                            }
                            &:hover,
                            &:focus {
                                &::after {
                                    color: @blue;
                                    .trans(all, @t);
                                }
                                & ul.sub-menu {
                                    display: block;
                                    .flex-container(column, nowrap);
                                }
                            }
                        }
                        & a {
                            color: @white;
                        }
                        & ul.sub-menu {
                            display: none;
                            position: absolute;
                            .justify-content(flex-start);
                            .align-items(flex-start);
                            z-index: 2;
                            top: 100%;
                            background-color: @greenBlack;
                            min-width: 200px;
                            height: auto;
                            left: -30px;
                            margin: 0;
                            padding: 20px 15px 15px;
                            & li {
                                & + li {
                                    margin-top: 10px;
                                }
                            }
                        }
                    }
                }
            }
            & .action-nav {
                .flex-container();
                @media screen and (max-width: 650px) {
                    display: none;
                }
                & a {
                    padding: 10px 20px;
                    min-width: 0;
                    &:hover,
                    &:focus {
                        background-color: rgba(38,149,224,0.5);
                    }
                }
            }
            .header-search-icon{
                .flex-container();
                .align-items(center);
                margin-left: 10px;
                i{
                    font-size: 18px;
                    cursor: pointer;
                    padding: 10px;
                }
            }

            @media screen and (max-width: 1440px) {
                .flex-container(row,wrap);
                //.justify-content(flex-end);
                .nav{
                    order:2;
                    width: 100%;
                    padding-right:0px;
                }
                .action-nav{
                    order:1;
                    width: 100%;
                    .justify-content(flex-end);
                    margin-bottom: 20px;
                }
            }

            @media screen and (max-width: 1210px) {
                .action-nav{
                    margin-bottom: 0px;
                }
            }

        }
    }
}

#mobile-icon {
    font-size: 35px;
    color: @white;
    margin-left: 50px;
    cursor: pointer;
    display: none;
    width: 35px;
    height: 35px;
    .transform(rotate(0));
    .trans(all, 0.4s);
    &.active {
        .transform(rotate(-90deg));
        .trans(all, 0.4s);
    }
    @media screen and (max-width: 1210px) {
        display: block;
    }
    @media screen and (max-width: 650px) {
        font-size: 28px;
        width: 28px;
        height: 28px;
    }
}

#mobile-menu {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: @blue;
    z-index: 50;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    top: -100vh;
    .trans(all, 0.4s);
    &.active {
        top: 0;
        opacity: 1;
        visibility: visible;
        .trans(all, 0.4s);
        & .mobile-menu-inner {
            opacity: 1;
            .transform(translateY(0));
            .trans(all, 0.8s, 0.3s);
            .align-items(flex-end);
        }
    }
    & .mobile-menu-inner {
        padding: 130px 30px 30px;
        .flex-container(column, nowrap);
        //.justify-content(center);
        min-height: 100%;
        opacity: 0;
        //.transform(translateX(-50px));
        .trans(all, 0.3s);
    }
    & .nav {
        .flex-container();
        .justify-content(center);
        & > ul {
            min-width: 200px;
        }
        & ul {
            margin: 0 auto;
            &.sub-menu {
                display: none;
                margin: 15px 0 0 0;
                padding-left: 15px;
                & li {
                    font-size: 16px;
                    & + li {
                        margin-top: 8px;
                    }
                }
            }
            & li {
                list-style: none;
                font-size: 20px;
                &.menu-item-has-children {
                    position: relative;
                    padding-right: 40px;
                    &.open {
                        & .submenu-icon {
                            & i {
                                .transform(rotate(-180deg));
                                .trans(all, @t);
                            }
                        }
                    }
                    & .submenu-icon {
                        width: 100%;
                        position: absolute;
                        right: 0;
                        top: 0;
                        display: inline-block;
                        font-size: 14px;
                        padding: 0 15px;
                        cursor: pointer;
                        color: @white;
                        & i {
                            .transform(rotate(0));
                            .trans(all, @t);

                            position: relative;
                            padding: 5px 0;
                            float: right;
                        }
                    }
                }
                & + li {
                    margin-top: 15px;
                }
                & a {
                    color: @white;
                }
            }
        }
    }
    & .action-nav {
        padding-bottom: 40px;
        .flex-container(column, nowrap);
        .justify-content(center);
        .align-items(center);
        & a {
            min-width: 170px;
            & + a {
                margin-top: 10px;
            }
        }

    }
}

@media screen and (max-width: 760px) {
    #mobile-menu {
        & .nav {
            & > ul {
                //min-width: 155px;
                min-width: 210px;
            }
            & ul {
                &.sub-menu {
                    margin-top: 10px;
                    & li {
                        font-size: 18px;
                        & + li {
                            margin-top: 7px;
                        }
                    }
                }
                & li {
                    font-size: 20px;
                    line-height:26px;
                    &.menu-item-has-children {
                        position: relative;
                        padding-right: 35px;
                        & .submenu-icon {
                            font-size: 16px;
                        }
                    }
                    & + li {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 650px) {
    #mobile-menu {
        & .mobile-menu-inner {
            padding: 110px 30px 30px;

        }
        & .action-nav {
            padding-bottom: 30px;
            width: 210px;
            float: right;
            .align-items(flex-start);
        }
    }
}