.main-container#homepage {
    & .hero-section {
        background-color: @black;
        & .contest-link-wrapper {
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 10;
            padding-top: 60px;
            .flex-container(column, nowrap);
            .justify-content(center);
            & a.last-contest-link {
                background-color: rgba(38,149,224,0.85);
                padding: 65px 30px 50px 50px;
                max-width: 345px;
                color: @white;
                &:hover,
                &:focus {
                    background-color: rgba(38,149,224,1);
                }
                & h2 {
                    font-size: 28px;
                    line-height: 33px;
                    font-weight: 300;
                    margin-bottom: 15px;
                }
                & i {
                    font-size: 26px;
                    display: block;
                }
            }
        }
        & .text-wrapper {
            position: relative;
            z-index: 10;
            color: @white;
            height: 100%;
            padding: 60px 0 0 11%;
            .flex-container(column, nowrap);
            .justify-content(center);
            & > div {
                width: 500px;
                max-width: ~"calc(100% - 350px)";
                & h1 {
                    text-shadow: 0 3px @black;
                    font-size: 60px;
                    line-height: 60px;
                    font-weight: 300;
                    margin-bottom: 25px;
                }
                & .button-wrapper {
                    & .button {
                        & + .button {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
        & .hero-bg {
            opacity: 0.9;
            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                z-index: 6;
                position: absolute;
                top: 0;
                left: 0;
                .heroGradient;
            }
        }
        & .credit {
            position: absolute;
            z-index: 10;
            bottom: 0;
            left: 0;
            & a.button {
                border: none;
                color: @lightGrey;
                font-size: 14px;
                text-shadow: 0 1px @black;
                min-width: 172px;
            }
        }
    }
    & .cta-section {
        .flex-container();
        .justify-content(space-between);
        min-height: 220px;
        width: 100%;
        & .cta {
            display: inline-block;
            background: transparent no-repeat center center /cover;
            .flex(1 1 auto);
            position: relative;
            &:hover,
            &:focus {
                &::after {
                    .transform(translateX(50px));
                    .trans(all, 0.5s);
                }
                & .text-wrapper {
                    &.blue {
                        &:hover,
                        &:focus {
                            background-color: rgba(209,232,247,0.7);
                            .trans(all, @t);
                        }
                    }
                    &.green {
                        &:hover,
                        &:focus {
                            background-color: rgba(207,222,218,0.7);
                            .trans(all, @t);
                        }
                    }
                    &.purple {
                        &:hover,
                        &:focus {
                            background-color: rgba(219,220,255,0.7);
                            .trans(all, @t);
                        }
                    }
                }
            }
            &::after {
                content: "\f105";
                position: absolute;
                top: ~"calc(50% - 13px)";
                right: 160px;
                display: block;
                color: @textGrey;
                font-size: 27px;
                .fafree;
                .trans(all, 0.5s);
            }
            & .text-wrapper {
                width: 100%;
                height: 100%;
                padding: 20px 200px 20px 110px;
                .flex-container();
                .align-items(center);
                &.blue {
                    background-color: rgba(209,232,247,1);
                    .trans(all, @t);
                }
                &.green {
                    background-color: rgba(207,222,218,1);
                    .trans(all, @t);
                    &:hover,
                    &:focus {
                        background-color: rgba(207,222,218,0.9);
                        .trans(all, @t);
                    }
                }
                &.purple {
                    background-color: rgba(219,220,255,1);
                    .trans(all, @t);
                    &:hover,
                    &:focus {
                        background-color: rgba(219,220,255,0.9);
                        .trans(all, @t);
                    }
                }
            }
            & h3 {
                color: @textGrey;
                //font-size: 35px;
                //line-height: 45px;
                font-size: 25px;
                line-height: 32px;
                max-width: 220px;
                width: 100%;
                margin: 0;
            }
        }
    }
    & .intro-section {
        background-color: @offWhite;
        position: relative;
        width: 100%;
        & .left-bg,
        & .right-bg {
            position: absolute;
            max-width: 20%;
            overflow-y: hidden;
            max-height: 100%;
            z-index: 4;
            & img {
                display: block;
                width: auto;
                max-width: 100%;
                height: auto;
            }
        }
        & .left-bg {
            bottom: 0;
            left: 0;
        }
        & .right-bg {
            top: 0;
            right: 0;
        }
        & .inner-container {
            max-width: 60%;
            padding: 120px 30px;
            position: relative;
            z-index: 5;
        }
        & .text-wrapper {
            text-align: center;
            width: 720px;
            max-width: 100%;
            margin: 0 auto;
            & img {
                max-width: 100%;
                display: block;
                margin: 50px auto;
            }
        }
    }
    & .featured-artist-section {

        &:nth-child(odd) {
            background-color: rgba(207,222,218,0.2);
        }

        & .inner-container {
            width: 1420px;
            .flex-container();
            //.align-items(center);
            padding: 110px 30px 140px;
            & .featured-image {
                margin-left: 20px;
                width: 53%;
                height: auto;
                & img {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }
            & .text-wrapper {
                width: ~"calc(47% - 20px)";
                max-width: 550px;
                padding-left: 90px;
                & h4 {
                    font-size: 16px;
                    margin-bottom: 35px;
                }
                & .artist-title {
                    .flex-container();
                    .align-items(center);
                    & .artist-image-wrapper {
                        width: 96px;
                        height: 96px;
                        position: relative;
                        &::before {
                            content: "";
                            border-radius: 50%;
                            width: 96px;
                            height: 96px;
                            background-color: @green;
                            position: absolute;
                            bottom: -9px;
                            left: -9px;
                            z-index: 4;
                        }
                        & .artist-image {
                            width: 100%;
                            height: 100%;
                            background: @white no-repeat center center /cover;
                            position: relative;
                            border-radius: 50%;
                            z-index: 5;
                            box-shadow: 0 7px 10px 0 rgba(0,0,0,0.28);
                        }
                    }
                    & h1 {
                        margin: 0 0 0 20px;
                    }
                }
                & p {
                    margin: 30px 0 40px;
                }
            }
        }
    }
    & .newsletter-section {
        background-color: rgba(209,232,247,0.27);
        position: relative;
        & .inner-container {
            padding: 180px 30px;
        }
        & .left-bg,
        & .right-bg {
            position: absolute;
            max-width: 20%;
            overflow-y: hidden;
            max-height: 100%;
            & img {
                display: block;
                width: auto;
                max-width: 100%;
                height: auto;
            }
        }
        & .left-bg {
            top: -45px;
            left: 20px;
        }
        & .right-bg {
            bottom: 0;
            right: 0;
        }
        & .newsletter-wrapper {
            text-align: center;
            width: 730px;
            max-width: 60%;
            margin: 0 auto;
            & form {
                margin-top: 50px;
                & .input-wrapper {
                    margin: 0 auto;
                    .flex-container();
                    .justify-content(center);
                    max-width: 660px;
                    width: 100%;
                    & input[type=text] {
                        width: ~"calc(100% - 194px)";
                    }
                }
            }
        }
        &.latest-news{
            //background-color: rgba(209,232,247,0.16);
            //background-color: rgba(207,222,218,0.7);
            background-color: rgba(209,232,247,0.7);
            .date-author{
                margin-bottom: 15px;
            }
            .blog-img{
                margin-bottom: 10px;
                img{
                    max-width: 100%;
                    text-align: center;
                }
            }
            p{
                margin-bottom: 20px;
            }
        }
    }
    & .submit-cta-section {
        height: auto;
        position: relative;
        & .left-bg {
            position: absolute;
            max-width: 20%;
            overflow-y: hidden;
            max-height: 100%;
            left: 5%;
            bottom: 0;
            z-index: 4;
            & img {
                display: block;
                width: auto;
                max-width: 100%;
                height: auto;
            }
        }
        & .inner-container {
            min-height: 690px;
            width: 1280px;
            padding: 0 30px;
            overflow-y: hidden;
            position: relative;
            .flex-container();
            .justify-content(space-between);
            & .text-wrapper {
                width: 605px;
                padding: 0 50px;
                max-width: ~"calc(100% - 525px)";
                .flex-container(column, nowrap);
                .justify-content(center);
                .align-items(flex-start);
                position: relative;
                z-index: 5;
                & .button {
                    margin-top: 40px;
                }
            }
            & .snapshot-wrapper {
                min-height: 100%;
                width: 525px;
                position: absolute;
                right: 20px;
                top: 0;
                .flex-container(column, nowrap);
                .justify-content(center);
                & .snap {
                    height: 380px;
                    width: 100%;
                    //max-width: 100%;
                    & .inner-snap {
                        width: 100%;
                        height: 100%;
                        background: transparent no-repeat center center /cover;
                    }
                    &:first-of-type {
                        position: absolute;
                        top: ~"calc(-33% - 20px)";
                        left: 0;
                        & .inner-snap {
                            opacity: 0.6;
                        }
                    }
                    &:last-of-type {
                        position: absolute;
                        bottom: ~"calc(-33% - 20px)";
                        right: 0;
                        & .inner-snap {
                            opacity: 0.6;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1650px) {
    .main-container#homepage {
        & .cta-section {
            min-height: 250px;
            & .cta {
                &::after {
                    right: 100px;
                }
                & .text-wrapper {
                    padding-right: 120px;
                }
            }
        }
    }
}
@media screen and (max-width: 1370px) {
    .main-container#homepage {
        & .hero-section {
            & .text-wrapper {
                & > div {
                    width: 415px;
                    max-width: ~"calc(100% - 250px)";
                    & h1 {
                        font-size: 42px;
                        line-height: 42px;
                    }
                }
            }
            & .contest-link-wrapper {
                & a.last-contest-link {
                    max-width: 245px;
                    padding: 50px 20px 40px 40px;
                    & h2 {
                        margin-bottom: 10px;
                        font-size: 20px;
                        line-height: 23px;
                    }
                    & i {
                        font-size: 19px;
                    }
                }
            }
        }
        & .cta-section {
            min-height: 220px;
            & .cta {
                &::after {
                    font-size: 18px;
                    top: ~"calc(50% - 9px)";
                }
                & .text-wrapper {
                    padding-left: 70px;
                    & h3 {
                        font-size: 25px;
                        line-height: 32px;
                    }
                }
            }
        }
        & .featured-artist-section {
            & .inner-container {
                & .text-wrapper {
                    & .artist-title {
                        & .artist-image-wrapper {
                            width: 68px;
                            height: 68px;
                            &::before {
                                left: -5px;
                                bottom: -5px;
                                width: 68px;
                                height: 68px;
                            }
                        }
                    }
                }
            }
        }
        & .newsletter-section {
            & .inner-container {
                padding: 130px 30px;
            }
        }
        & .submit-cta-section {
            & .left-bg {
                max-width: 15%;
            }
            & .inner-container {
                min-height: 480px;
                width: 880px;
                & .text-wrapper {
                    max-width: ~"calc(100% - 380px)";
                }
                & .snapshot-wrapper {
                    width: 380px;
                    & .snap {
                        height: 270px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1000px) {
    .main-container#homepage {
        & .hero-section {
            & .text-wrapper {
                & > div {
                    & .button-wrapper {
                        & .button {
                            & + .button {
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
        }
        & .cta-section {
            min-height: 140px;
            & .cta {
                &::after {
                    right: 50px;
                }
                & .text-wrapper {
                    padding: 20px 65px 20px 40px;
                    & h3 {
                        font-size: 16px;
                        line-height: 21px;
                        max-width: 110px;
                    }
                }
            }
        }
        & .intro-section {
            & .inner-container {
                padding: 75px 30px;
            }
        }
        & .featured-artist-section {
            & .inner-container {
                .align-items(flex-start);
                padding: 80px 30px 100px;
                & .featured-image {
                    width: 45%;
                }
                & .text-wrapper {
                    padding-left: 60px;
                    width: ~"calc(55% - 20px)";
                    & h4 {
                        font-size: 12px;
                        margin-bottom: 20px;
                    }
                    & p {
                        margin: 20px 0 30px;
                    }
                }
            }
        }
        & .newsletter-section {
            & .left-bg,
            & .right-bg {
                max-width: 15%;
            }
            & .inner-container {
                padding: 100px 30px;
            }
        }
        & .submit-cta-section {
            & .inner-container {
                width: 100%;
                padding: 0;
                overflow-x: hidden;
                & .text-wrapper {
                    padding-left: 100px;
                    max-width: ~"calc(100% - 320px)";
                }
                & .snapshot-wrapper {
                    right: -80px;
                }
            }
        }
    }
}
@media screen and (max-width: 760px) {
    .main-container#homepage {
        & .hero-section {
            & .text-wrapper {
                .flex-container(column, nowrap);
                .justify-content(center);
                padding: 100px 0 150px 11%;
                & > div {
                    width: 450px;
                    max-width: 100%;
                }
            }
            & .contest-link-wrapper {
                bottom: 40px;
                top: auto;
                height: auto;
                width: 100%;
                padding-top: 0;
                .flex(none);
                & a.last-contest-link {
                    width: 100%;
                    max-width: 100%;
                    .flex-container(row, nowrap);
                    .align-items(center);
                    padding: 25px 40px;
                    position: relative;
                    & h2 {
                        margin-bottom: 0;
                        width: ~"calc(100% - 30px)";
                    }
                    & i {
                        position: absolute;
                        top: ~"calc(50% - 9px)";
                        right: 40px;
                    }
                }
            }
            & .credit {
                width: 100%;
                & a.button {
                    font-size: 10px;
                    padding: 15px 20px;
                    min-width: 150px;
                    width: 100%;
                    height: 40px;
                    background-color: rgba(0,0,0,0.8);
                }
            }
        }
        & .submit-cta-section {
            & .inner-container {
                & .text-wrapper {
                    padding: 0 20px 0 50px;
                }
            }
        }
    }
}
@media screen and (max-width: 650px) {
    .main-container#homepage {
        & .hero-section {
            min-height: 450px;
            & .text-wrapper {
                & > div {
                    & h1 {
                        font-size: 24px;
                        line-height: 26px;
                        margin-bottom: 15px;
                        max-width: 200px;
                    }
                }
            }
            & .contest-link-wrapper {
                & a.last-contest-link {
                    padding: 20px 30px;
                    & h2 {
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
            }
        }
        & .cta-section {
            min-height: 100%;
            .flex-container(row, wrap);
            & .cta {
                width: 100%;
                &::after {
                    right: 40px;
                }
                & .text-wrapper {
                    padding: 30px 55px 30px 40px;
                    & h3 {
                        font-size: 14px;
                        max-width: 100%;
                    }
                }
            }
        }
        & .intro-section {
            & .left-bg,
            & .right-bg {
                display: none;
            }
            & .inner-container {
                max-width: 100%;
                padding: 65px 30px;
                & .text-wrapper {
                    width: 100%;
                    & img {
                        margin: 20px auto;
                    }
                }
            }
        }
        & .featured-artist-section {
            & .inner-container {
                .flex-container(row, wrap);
                & .featured-image {
                    width: 100%;
                    margin-left: 0;
                }
                & .text-wrapper {
                    padding-left: 0;
                    margin-top: 50px;
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
        & .newsletter-section {
            & .inner-container {
                padding: 65px 30px;
            }
            & .left-bg,
            & .right-bg {
                display: none;
            }
            & .newsletter-wrapper {
                max-width: 100%;
                & form {
                    margin-top: 20px;
                    & .input-wrapper {
                        .flex-container(row, wrap);
                        & input {
                            width: 100%;
                        }
                        & .button {
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
        & .submit-cta-section {
            & .left-bg {
                display: none;
            }
            & .inner-container {
                min-height: 100%;
                padding: 90px 30px;
                & .text-wrapper {
                    padding: 0;
                    text-align: center;
                    .align-items(center);
                    max-width: 100%;
                    & .button {
                        margin-bottom: 20px;
                    }
                }
                & .snapshot-wrapper {
                    display: none;
                }
            }
        }
    }
}