// ---------- START COLOURS ---------- //

@white: #FFFFFF;
@offWhite: #f5f6f8;
@black: #000000;
@greenBlack: #091115;

@textGrey: #454950;
@coolGrey: #3c4a58;
@footerGrey: #7e7f80;
@medGrey: #707783;
@lightGrey: #cdcdcd;
@blue: #2695e0;
@linkBlue: #2c9de1;
@green: #2cdfa2;
@gold: #fec63a;
//Red
@red : #b5121b;
@red1 : #e12c09;
@red2 : #9C3F40;

// ---------- END COLOURS ---------- //

// ---------- START MISC. VARIABLES ---------- //

@t: 0.3s; // global transition time

// ---------- END MISC. VARIABLES ---------- //

// ---------- START MIXINS ---------- //

.trans(...) {
    -webkit-transition: @arguments;
    -moz-transition: @arguments;
    -ms-transition: @arguments;
    -o-transition: @arguments;
    transition: @arguments;
}
.scale(@amount) {
    -webkit-transform: scale(@amount);
    -moz-transform: scale(@amount);
    -o-transform: scale(@amount);
    -ms-transform: scale(@amount);
    transform: scale(@amount);
}
.translate(@x-amount: 0, @y-amount: 0){
    -webkit-transform: translate(@x-amount, @y-amount);
    -moz-transform: translate(@x-amount, @y-amount);
    -ms-transform: translate(@x-amount, @y-amount);
    transform: translate(@x-amount, @y-amount);
}
.translateX(@amount: 0){
    -webkit-transform: translateX(@amount);
    -ms-transform: translateX(@amount);
    transform: translateX(@amount);
}

.rotate(@amount: 0deg){
    -webkit-transform: rotate(@amount);
    -ms-transform: rotate(@amount);
    transform: rotate(@amount);
}

.translateY(@amount: 0){
    -webkit-transform: translateY(@amount);
    -ms-transform: translateY(@amount);
    transform: translateY(@amount);
}

.translateZ(@amount: 0){
    -webkit-transform: translateZ(@amount);
    -ms-transform: translateZ(@amount);
    transform: translateZ(@amount);
}
.transform(...) {
    -webkit-transform: @arguments;
    -moz-transform: @arguments;
    -ms-transform: @arguments;
    -o-transform: @arguments;
    transform: @arguments;
}
.round(@radius: 9999px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}

.placeholder(@rules) {
    &::-webkit-input-placeholder {
        @rules();
    }
    &:-moz-placeholder {
        @rules();
    }
    &::-moz-placeholder {
        @rules();
    }
    &:-ms-input-placeholder {
        @rules();
    }
}
// ---------- END MIXINS ---------- //

// ---------- START FLEX ---------- //

.flex-container(@flow: row, @wrap: nowrap){
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    -ms-flex-directions: @flow;
    -webkit-flex-flow: @flow @wrap;
    flex-flow: @flow @wrap;
}
.flex-wrap(@wrap){
    -webkit-flex-wrap: @wrap;
    -ms-flex-wrap: @wrap;
    flex-wrap: @wrap;
}
.flex-order(@order){
    -webkit-box-ordinal-group: @order;
    -ms-box-ordinal-group: @order;
    -ms-flex-order: @order;
    -webkit-order: @order;
    order: @order;
}
.flex(...){
    -webkit-box-flex: @arguments;
    -moz-box-flex: @arguments;
    -webkit-flex: @arguments;
    -ms-flex: @arguments;
    flex: @arguments;
}
.align-items(@param){
    -webkit-align-items: @param;
    align-items: @param;
}
.align-self(@param){
    -webkit-align-self: @param;
    align-self: @param;
}
.justify-content(@param){
    -webkit-justify-content: @param;
    justify-content: @param;
}

.displayFlex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
}

// ---------- END FLEX ---------- //

// ---------- START FONTS ---------- //

.rubik {
    font-family: 'Rubik', sans-serif;
}

.fafree {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.fabrand {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
}

// ---------- END FONTS ---------- //

.heroGradient {
    background: rgba(0,0,0,0.5); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.8), transparent); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, rgba(0,0,0,0.8), transparent); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0.8), transparent); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top, rgba(0,0,0,0.8), transparent); /* Standard syntax */
    background: -ms-linear-gradient(top, rgba(0,0,0,0.8), transparent);
}

.has-border {
    border: 6px solid @white;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.28);
}






//Krunal Editing

.hidden{
    display: none;
}

//Loading Image
.loading-image{
    position: fixed;
    z-index: 9999;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}



.message-alert,
.payment-message{
    margin: 5px 0;
    position: relative;
    p{
        color: @white !important;
        background-color: @red2;
        padding: 5px 10px;
        margin-bottom: 15px;
    }
    p.success{
        background-color: @green;
    }
}

.message-instruction{
    position: relative;
    p{
        color: @coolGrey !important;
        background-color: rgba(209,232,247,1);
        padding: 5px 10px;
        margin-bottom: 25px;
        font-size: 19px;
        text-align: center;
    }
}

//Credit Card Logos payment pages
.payment-credit-card-wrapper{
    width: 100%;
    max-width: 620px;
    margin: 0 auto 20px;
    img{
        max-width: 100%;
    }
}

.tooltip-info{
    margin-bottom:10px;
    font-size: 14px;
    font-weight:500;
    font-style: italic;
    line-height:20px;
}



//Magnific Gallery
.mfp-gallery{
    //.mfp-figure{
    //    .mfp-img{
    //        padding: 60px 0 60px;
    //    }
    //    &:after{
    //        top: 60px;
    //        bottom: 60px;
    //    }
    //}
    .mfp-bottom-bar{
        .mfp-title{
            h4{
                //color: @blue;
                margin: 5px 0;
                font-size: 22px;
            }
        }
        p{
            margin-top: 0px;
        }
    }
}