.cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
img.alignnone,
img.alignleft,
img.alignright,
img.aligncenter,
figure.alignnone,
figure.alignleft,
figure.alignright,
figure.aligncenter {
  margin: 10px;
  max-width: 100%;
  height: auto;
  text-decoration: none;
}
img.alignnone:hover,
img.alignleft:hover,
img.alignright:hover,
img.aligncenter:hover,
figure.alignnone:hover,
figure.alignleft:hover,
figure.alignright:hover,
figure.aligncenter:hover {
  text-decoration: none;
}
img.alignleft,
figure.alignleft {
  float: left;
  max-width: 60%;
  margin-right: 40px;
  margin-left: 0;
}
img.alignright,
figure.alignright {
  float: right;
  max-width: 60%;
  margin-left: 40px;
  margin-right: 0;
}
img.aligncenter,
figure.aligncenter {
  margin: 0 auto 30px auto;
  display: block;
}
img.alignnone,
figure.alignnone {
  margin-bottom: 30px;
}
figure.alignnone,
figure.alignleft,
figure.alignright,
figure.aligncenter {
  position: relative;
}
figure.alignnone a,
figure.alignleft a,
figure.alignright a,
figure.aligncenter a {
  display: block;
  line-height: 0;
  text-decoration: none;
}
figure.alignnone img,
figure.alignleft img,
figure.alignright img,
figure.aligncenter img {
  display: block;
  padding: 0;
  max-width: 100%;
  height: auto;
}
figure.alignnone figcaption,
figure.alignleft figcaption,
figure.alignright figcaption,
figure.aligncenter figcaption {
  display: block;
  width: 100%;
  background: black;
  opacity: .8;
  text-align: center;
  color: white;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: .04em;
  font-weight: 400;
  padding: 4px;
}
@media screen and (max-width: 768px) {
  img.alignleft,
  figure.alignleft {
    display: block;
    float: none;
    max-width: 100%;
    margin: 30px auto 30px auto;
  }
  img.alignright,
  figure.alignright {
    display: block;
    float: none;
    max-width: 100%;
    margin: 30px auto 30px auto;
  }
  img.aligncenter,
  figure.aligncenter {
    display: block;
    margin: 30px auto 30px auto;
  }
  img.alignnone,
  figure.alignnone {
    margin-bottom: 30px;
  }
  figure.alignnone,
  figure.alignleft,
  figure.alignright,
  figure.aligncenter {
    position: relative;
  }
  figure.alignnone a,
  figure.alignleft a,
  figure.alignright a,
  figure.aligncenter a {
    display: block;
    line-height: 0;
    text-decoration: none;
  }
  figure.alignnone img,
  figure.alignleft img,
  figure.alignright img,
  figure.aligncenter img {
    display: block;
    padding: 0;
    max-width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 500px) {
  figure.alignnone figcaption,
  figure.alignleft figcaption,
  figure.alignright figcaption,
  figure.aligncenter figcaption {
    font-size: 12px;
    line-height: 16px;
  }
}
