// ---------- START GENERAL PAGE STYLES ---------- //

.page-content,
.inner-container {
    padding: 110px 30px;
    width: 1290px;
    max-width: 100%;
    margin: 0 auto;
    @media screen and (max-width: 760px) {
        padding: 80px 30px;
    }
}
.page-content {
    & > h1 {
        text-align: center;
    }
}

.hero-section {
    background-color: @greenBlack;
    width: 100%;
    height: ~"calc(100vh - 117px)";
    min-height: 550px;
    position: relative;
    @media screen and (max-width: 1370px) {
        height: ~"calc(100vh - 108px)";
    }
    @media screen and (max-width: 650px) {
        height: ~"calc(100vh - 78px)";
    }
    & .hero-bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: transparent no-repeat center center /cover;
        opacity: 0.6;
        z-index: 5;
    }
}

// ---------- END GENERAL PAGE STYLES ---------- //

// ---------- START CONTENT IMAGES STYLES ---------- //

img.alignnone,
img.alignleft,
img.alignright,
img.aligncenter,
figure.alignnone,
figure.alignleft,
figure.alignright,
figure.aligncenter{
    margin: 10px;
    max-width: 100%;
    height: auto;
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}
img.alignleft, figure.alignleft{
    float: left;
    max-width: 60%;
    margin-right: 40px;
    margin-left: 0;
}
img.alignright, figure.alignright{
    float: right;
    max-width: 60%;
    margin-left: 40px;
    margin-right: 0;
}
img.aligncenter, figure.aligncenter{
    margin: 0 auto 30px auto;
    display: block;
}
img.alignnone, figure.alignnone{
    margin-bottom: 30px;
}
figure.alignnone,
figure.alignleft,
figure.alignright,
figure.aligncenter{
    position: relative;
    a{
        display: block;
        line-height: 0;
        text-decoration: none;
        &:hover{
        }
    }
    img{
        display: block;
        padding: 0;
        max-width: 100%;
        height: auto;
    }
    figcaption{
        display: block;
        width: 100%;
        background: black;
        opacity: .8;
        text-align: center;
        color: white;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: .04em;
        font-weight: 400;
        padding: 4px;
    }
}

@media screen and (max-width: 768px){
    img.alignnone,
    img.alignleft,
    img.alignright,
    img.aligncenter,
    figure.alignnone,
    figure.alignleft,
    figure.alignright,
    figure.aligncenter{
        &:hover{
        }
    }
    img.alignleft, figure.alignleft{
        display: block;
        float: none;
        max-width: 100%;
        margin: 30px auto 30px auto;
    }
    img.alignright, figure.alignright{
        display: block;
        float: none;
        max-width: 100%;
        margin: 30px auto 30px auto;
    }
    img.aligncenter, figure.aligncenter{
        display: block;
        margin: 30px auto 30px auto;
    }
    img.alignnone, figure.alignnone{
        margin-bottom: 30px;
    }
    figure.alignnone,
    figure.alignleft,
    figure.alignright,
    figure.aligncenter{
        position: relative;
        a{
            display: block;
            line-height: 0;
            text-decoration: none;
            &:hover{
            }
        }
        img{
            display: block;
            padding: 0;
            max-width: 100%;
            height: auto;
        }
        figcaption{
        }
    }
}

@media screen and (max-width: 500px){
    img.alignnone,
    img.alignleft,
    img.alignright,
    img.aligncenter,
    figure.alignnone,
    figure.alignleft,
    figure.alignright,
    figure.aligncenter{
        &:hover{
        }
    }
    img.alignleft, figure.alignleft{
    }
    img.alignright, figure.alignright{
    }
    img.aligncenter, figure.aligncenter{
    }
    img.alignnone, figure.alignnone{
    }
    figure.alignnone,
    figure.alignleft,
    figure.alignright,
    figure.aligncenter{
        a{
            &:hover{
            }
        }
        img{
        }
        figcaption{
            font-size: 12px;
            line-height: 16px;
        }
    }
}
// ---------- END CONTENT IMAGES STYLES ---------- //

