#user-profile-page {
    & .user-header {
        padding: 0 50px;
        margin-bottom: 30px;
        & h1 {
            margin-bottom: 0;
            .flex-container();
            .justify-content(flex-start);
            & > span {
                display: inline-block;
            }
            & .featured {
                padding: 4px;
                margin: 9px 0 0 15px;
                color: @white;
                background-color: @blue;
                font-size: 14px;
                border-radius: 50%;
                height: 25px;
                width: 25px;
            }
        }
        & h2 {
            color: @blue;
            font-size: 20px;
        }
    }
    & .user-profile-container {
        & > .flex-wrapper {
            .align-items(flex-start);
            & .headshot-wrapper {
                width: 300px;
                & img {
                    width: 100%;
                }
            }
            & .profile-details-wrapper {
                width: ~"calc(100% - 300px)";
                padding-left: 50px;
                & > div {
                    & > h3 {
                        font-size: 14px;
                        color: @medGrey;
                        opacity: 0.6;
                        text-transform: uppercase;
                    }
                    & + div {
                        margin-top: 50px;
                    }
                }
                & p {
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;
                    &.flex-wrapper {
                        .justify-content(flex-start);
                        & > span {
                            &.label {
                                width: 120px;
                                font-weight: 500;
                            }
                            &:not(.label) {
                                .flex(0 1 auto);
                            }
                        }
                        & + .flex-wrapper {
                            margin-top: 10px;
                        }
                    }
                }
                & .profile-links {
                    & p {
                        & + p {
                            margin-top: 5px;
                        }
                        & i {
                            color: @textGrey;
                            width: 20px;
                            text-align: center;
                        }
                        & a {
                            color: @blue;
                            display: inline-block;
                            margin-left: 20px;
                            word-break: break-all;
                        }
                    }
                }
            }
        }
    }
}

.profile-gallery-container {
    & .inner-gallery-wrapper {
        position: relative;
        .flex-container(row, wrap);
        .justify-content(flex-start);
    }
    & .gallery-image-wrapper {
        margin: 10px;
        padding: 0;
        width: ~"calc(33% - 20px)";
        position: relative;
        overflow-y: hidden;
        &:hover,
        &:focus {
            & .featured-star,
            & .image-overlay {
                opacity: 1;
                visibility: visible;
                .trans(all, 0.4s);
            }
        }
        & a.gal-link {
            width: 100%;
            display: block;
            & img {
                width: 100%;
                height: auto;
                position: relative;
                z-index: 1;
                display: block;
            }
            & .gal-image {
                background: @offWhite no-repeat center center /cover;
                width: 100%;
                height: 250px;
                position: relative;
                z-index: 1;
            }
        }
        & .featured-star {
            position: absolute;
            top: 0;
            right: 0;
            padding: 14px;
            cursor: pointer;
            font-size: 20px;
            z-index: 5;
            opacity: 0;
            visibility: hidden;
            .trans(all, 0.4s);
            & i {
                color: @blue;
                padding: 0 3px;
            }
        }
        & .image-overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 15px;
            width: 100%;
            background-color: rgba(255,255,255,0.8);
            max-height: ~"calc(100% - 50px)";
            z-index: 5;
            opacity: 0;
            visibility: hidden;
            overflow-y: auto;
            .trans(all, 0.4s);
            & p {
                font-size: 14px;
                line-height: 20px;
                & + p {
                    margin-top: 0;
                }
            }
            & .gal-price {
                color: @blue;
                font-weight: 500;
                margin-bottom: 10px;
            }
            & .gal-title {
                font-weight: 400;
            }
            & .gal-year {
                margin-bottom: 10px;
            }
            & .gal-icons {
                padding-top: 10px;
                .flex-container();
                .justify-content(flex-end);
                & a {
                    & + a {
                        margin-left: 15px;
                    }
                }
            }
        }
    }
    & .button-wrapper {
        .flex-container();
        .justify-content(flex-end);
        padding: 0px 20px 20px;
    }
}

/*
 * ==== MEDIA QUERIES ====
*/

@media screen and (max-width: 1370px) {
    #user-profile-page {
        & .user-header {
            & h1 {
                & .featured {
                    padding: 4px;
                    margin: 5px 0 0 10px;
                    font-size: 10px;
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    .profile-gallery-container {
        & .gallery-image-wrapper {
            & .featured-star,
            & .image-overlay {
                opacity: 1;
                visibility: visible;
            }
            & .image-overlay {
                position: relative;
                background-color: @offWhite;
                margin-bottom: 10px;
            }
        }
    }
}
@media screen and (max-width: 1000px) {
    #user-profile-page {
        & .user-header {
            padding: 0 30px;
        }
        & .user-profile-container {
            & > .flex-wrapper {
                & .headshot-wrapper {
                    width: 220px;
                }
                & .profile-details-wrapper {
                    width: ~"calc(100% - 220px)";
                    padding-left: 30px;
                }
            }
        }
    }
    .profile-gallery-container {
        & .gallery-image-wrapper {
            width: ~"calc(48% - 20px)";
        }
    }
}

@media screen and (max-width: 760px) {
    #user-profile-page {
        & .user-header {
            text-align: center;
            & h1 {
                .justify-content(center);
            }
        }
        & .user-profile-container {
            & > .flex-wrapper {
                .flex-container(row, wrap);
                & .headshot-wrapper {
                    width: 300px;
                    max-width: 100%;
                    margin: 0 auto;
                }
                & .profile-details-wrapper {
                    width: 100%;
                    padding: 30px 0 0 0;
                    & > div {
                        & + div {
                            margin-top: 30px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    #user-profile-page {
        & .user-profile-container {
            & > .flex-wrapper {
                & .profile-details-wrapper {
                    & > div {
                        & > h3 {
                            text-align: center;
                        }
                    }
                    & p {
                        text-align: center;
                        &.flex-wrapper {
                            .flex-container(row, wrap);
                            .justify-content(center);
                            & > span {
                                &.label {
                                    width: 100%;
                                }
                            }
                        }
                    }
                    & .profile-links {
                        & p {
                            text-align: center;
                            & a {
                                width: 100%;
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .profile-gallery-container {
        padding: 20px;
    }
}

@media screen and (max-width: 550px) {
    .profile-gallery-container {
        & .gallery-image-wrapper {
            width: 100%;
            margin: 10px 0;
        }
    }
}