html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,small,
strike, strong, sub, sup, tt, var,
b, u, i, center, hr, input, textarea,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, main,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
body {
    overflow-x: hidden;
    font-size: 16px;
    color: @textGrey;
    &.body-fixed {
        overflow: hidden;
    }
}
html,
body {
    height: 100%;
}
a, a img, img {
    outline: none;
    border: 0;
    text-decoration: none;
}

// ---------- END RESET ---------- //