@white1 : #f5f5f5;
@blue1 : #00a2ff;
@grey3 : #626262;

.container-overlay(){
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
}

.placeholder-2(@color : @white){
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: @color;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: @color;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: @color;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: @color;
  }
}

.input-field(){
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid @white;
  width: 100%;
  padding: 11px 20px;
  display: inline-block;
  box-sizing: border-box;
  color: @white;
  .placeholder-2(@white);
  font-size: 15px;
  font-weight: 500;
  letter-spacing:0.01em;
}


.search-pop-up-overlay{

  .container-overlay();
  position: fixed;
  background-color: rgba(111, 181, 247 ,0.5);
  cursor: pointer;
  //.trans(1s all);
  width: 0px;
  z-index: 9998;
  &.overlay-pop-up-on{
    width: 100%;
  }
}


.search-pop-up-container{
  z-index: 9999;
  position: fixed;
  .trans(2s all);
  width: 100%;
  max-width: 330px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top:-300px;
  background: @white1;
  border: 5px solid @grey3;
  min-height: 150px;
  padding: 30px 30px;
  .flex-container();
  .align-items(center);

  form{
    text-align: center;
    span.screen-reader-text{
      font-size: 22px;
      font-weight:700;

    }
    input[type="search"]{
      margin-top: 20px;
      .input-field();
      border-bottom: 1px solid @grey3;
      color: @grey3;
      .placeholder-2(@grey3);
    }
    .search-submit{
      margin-top: 20px;
      padding: 12px 25px;
    }
  }
  //button.search-submit{
  //  display: none;
  //}

  .search-wrap{
    .flex-container();
    .align-items(center);
    .search-btn{
      margin-left: 15px;
      a{
        i{
          font-size: 22px;
          color: @blue1;
        }
      }
    }
  }

  .close-btn{
    position: absolute;
    right: 5px;
    top:5px;
    i{
      cursor: pointer;
      font-size: 22px;
      color: @blue1;
    }
  }

  &.pop-up-on{
    top:36%;
  }

}