
.gallery-img-wrapper{
  .gallery-img{
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    img {
      max-width: 100%;
      //display: block;
    }
  }

  .gallery-nav{
    width: 100%;
    padding: 5px 0;
    text-align: center;
      a{
        i{
          font-size: 60px;
          &.fa-caret-left{
            padding-right: 20px;
          }
          @media screen and (max-width: 1024px) {
            font-size: 70px;
            &.fa-caret-left{
              padding-right: 20px;
            }
          }
        }
      }
  }

  .gallery-info{
    margin-top: 20px;
    margin-bottom: 25px;
    p{
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      &.field-para{
        margin-top: 15px;
        .label{
          font-weight:600;
          padding-right: 5px;
        }
        .tags-listing{
          a{
            padding: 5px;
            margin: 5px ;
            //background-color: @grey3;
            color: @grey3;
          }
        }
      }
    }
  }



}