
.submit-to-contest-wrapper{
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

    img{
      border: 1px solid @coolGrey;
      padding: 3px;
      //width: 500px;
      margin: 0 auto 25px;
      display: block;
      max-width: 100%;
    }

  p{
    font-size: 16px;
    line-height: 24px;
  }
  .submit-to-contest{
    margin-top: 20px;
  }
}