/*
 * ==== Styles for Template Parts ====
*/

.user-sidebar-wrapper {
    width: 900px;
    max-width: 100%;
    margin: 0 auto 50px;

    & ul {
        background-color: @coolGrey;
        margin: 0;
        &:not(.submenu):not(.submenu-lvl2)  {
            .flex-container();
            .justify-content(space-between);
        }


        & li {
            padding: 10px 20px;
            list-style: none;
            .flex(1);
            text-align: center;
            cursor: pointer;
            &:hover,
            &:focus {
                & > a,
                & > span {
                    color: @linkBlue;
                    .trans(color, 0.3s);
                }
            }
            &.has-submenu {
                position: relative;
                &:hover,
                &:focus {
                    & > ul.submenu {
                        display: block;
                    }
                }
            }
            & a,
            & span {
                font-size: 18px;
                color: @white;
                .trans(color, 0.3s);
            }
            & ul.submenu {
                display: none;
                position: absolute;
                .justify-content(flex-start);
                .align-items(flex-start);
                z-index: 2;
                top: 100%;
                background-color: lighten(@coolGrey, 5%);
                width: 100%;
                height: auto;
                left: 0;
                //padding: 12px 5px;
                & li {
                    padding: 0;
                    //padding: 12px 0px;
                    margin: 12px 0 0;
                    border: none;
                    & + li {
                        //margin-top: 7px;
                    }
                    a{
                        font-size: 16px;
                    }
                }
            }
            & ul.submenu-lvl2 {
                background-color: lighten(@coolGrey, 20%);
                margin-top: 10px;
                li{
                    //padding: 12px 0px;
                    position: relative;
                    margin: 0px;

                    padding: 8px 0 7px;
                    a{
                        position: relative;
                        font-size: 14px;
                        &:before{
                            content : "-";
                            position: absolute;
                            left: -17px;
                            top: -7px;
                        }
                    }
                }
            }
            & + li {
                border-left: 1px solid @white;
            }
        }
    }
}


/*
 * ==== MEDIA QUERIES ====
*/
//@media screen and (max-width: 1000px) {
//    .user-sidebar-wrapper {
//        & ul {
//            &:not(.submenu):not(.submenu-lvl2)   {
//                .flex-container(row, wrap);
//                & li {
//                    .flex(none);
//                    width: 50%;
//                    border: 1px solid @white;
//                }
//            }
//        }
//    }
//}

@media screen and (max-width: 650px) {
    .user-sidebar-wrapper {
        & ul {
            &:not(.submenu):not(.submenu-lvl2)   {
                .flex-container(row, wrap);
                & li {
                    .flex(none);
                    padding: 15px 20px;
                    width: 100%;
                    border: none;
                    & + li {
                        border-top: 1px solid @white;
                    }
                }
            }
        }
    }
}