#user-listings-page {
    form.search-user-form {
        & > .flex-wrapper {
            .flex-container(row,wrap);
            .align-items(flex-end);
            & .input-wrapper {
                width: ~"calc(100% - 200px)";
                &.input-radio-wrapper{
                    width: 100%;
                }
                .radio-flex{
                    .flex-container();
                    .align-items(center);
                    .radio-wrap{
                        .flex-container();
                        .align-items(center);
                        input[type=checkbox]{
                            width: auto;
                            margin-right: 5px;
                        }
                        +.radio-wrap{
                            margin-left: 20px;
                        }
                    }
                }

            }
            & .button-wrapper {
                padding-left: 20px;
                width: 200px;
                margin: 0;
                & .button {
                    min-height: 57px;
                    height: 100%;
                    margin: 0;
                }
            }
        }
    }
    .card-wrapper{
        &.orderby-btns-wrapper{
            margin-top: 20px;
            padding: 20px 10px;
            .orderby-btns{
                .flex-container();
                .justify-content(center);
                .btn{
                    padding: 0 5px;
                }
            }
        }
    }
    & .user-listing-container {
        margin-top: 20px;
        padding: 30px;
        & .single-user-wrapper {
            margin: 10px;
            width: ~"calc(33% - 20px)";
            position: relative;
            &:hover,
            &:focus {
                & .featured-star,
                & .image-overlay {
                    opacity: 1;
                    visibility: visible;
                    .trans(all, 0.4s);
                }
            }
            & .image-overlay {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 15px;
                width: 100%;
                background-color: rgba(255,255,255,0.8);
                max-height: ~"calc(100% - 50px)";
                z-index: 5;
                opacity: 0;
                visibility: hidden;
                overflow-y: auto;
                .trans(all, 0.4s);
                & p {
                    font-size: 14px;
                    line-height: 20px;
                    & + p {
                        margin-top: 0;
                    }
                }
                & .gal-price {
                    color: @blue;
                    font-weight: 500;
                    margin-bottom: 10px;
                }
                & .gal-title {
                    font-weight: 400;
                }
                & .gal-year {
                    margin-bottom: 10px;
                }
                & .gal-icons {
                    padding-top: 10px;
                    .flex-container();
                    .justify-content(flex-end);
                    & a {
                        & + a {
                            margin-left: 15px;
                        }
                    }
                }
            }
            & .user-header {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                padding: 10px 20px;
                z-index: 5;
                .justify-content(flex-start);
                & > a.user-link {
                    width: ~"calc(100% - 20px)";
                    .justify-content(flex-start);
                }
                & .user-headshot {
                    width: 50px;
                    height: 50px;
                    background: transparent no-repeat center center /cover;
                    border-radius: 50%;
                }

                & .user-name {
                    color: @white;
                    padding: 0 20px;
                    width: ~"calc(100% - 50px)";
                    font-size: 16px;
                    line-height: 22px;
                    text-shadow: 2px 2px 8px @coolGrey;
                }
                & .user-featured {
                    width: 20px;
                    & i {
                        color: @blue;
                        font-size: 21px;
                    }
                }
            }
            & > a.user-link {
                display: block;
                width: 100%;
                position: relative;
                & img {
                    width: 100%;
                    height: auto;
                    position: relative;
                    z-index: 1;
                    display: block;
                }
                & .first-gallery-image {
                    background: @offWhite no-repeat center center /cover;
                    width: 100%;
                    height: 250px;
                    position: relative;
                    z-index: 1;
                }
            }
        }
    }

    ul.page-numbers{
        margin-left: 0px;
        margin-top: 30px;
        text-align: center;
        list-style: none;
        .flex-container();
        .justify-content(center);
        .align-items(center);
        li{
            margin: 0 3px;
            padding: 3px 10px;
            span.current,a{
                font-weight:400;
            }
            i{
                font-size: 34px;
            }
        }
    }

}

/*
 * ==== MEDIA QUERIES ====
*/
@media screen and (max-width: 1370px) {
    #user-listings-page {
        form.search-user-form {
            & > .flex-wrapper {
                & .button-wrapper {
                    & .button {
                        min-height: 38px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {

    #user-listings-page {
        .user-listing-container {
            .single-user-wrapper{
                & .image-overlay {
                    opacity: 1;
                    visibility: visible;
                }
                & .image-overlay {
                    position: relative;
                    background-color: @offWhite;
                    margin-bottom: 10px;
                }
            }
        }
    }

}




@media screen and (max-width: 1000px) {
    #user-listings-page {
        & .user-listing-container {
            & .single-user-wrapper {
                width: ~"calc(48% - 20px)";
            }
        }
    }
}

@media screen and (max-width: 650px) {
    #user-listings-page {
        form.search-user-form {
            & > .flex-wrapper {
                .flex-container(row, wrap);
                & .input-wrapper {
                    width: 100%;
                }
                & .button-wrapper {
                    padding: 0;
                    width: 100%;
                    margin-top: 20px;
                    & .button {
                        margin: 0 auto;
                    }
                }
            }
        }
        & .user-listing-container {
            padding: 20px;
        }
    }
}

@media screen and (max-width: 550px) {
    #user-listings-page {
        & .user-listing-container {
            & .single-user-wrapper {
                width: 100%;
                margin: 10px 0;
            }
        }
    }
}